[package]
name = "praytimes-kit"
version = "1.1.0"
edition = "2021"
authors = ["Max Bas MaxBaseCode@Gmail.Com","Ehsan ehsan2003.2003.382@gmail.com"]
description = "Muslim prayer times calculation and scheduling toolkit"
license = "GPL-3.0"
repository = "https://github.com/basemax/praytimesrust"
keywords = ["prayer", "times", "muslim", "scheduler","shia"]


[dependencies]
axum = "0.6.20"
serde = { version = "1.0.185", features = ["derive"] }
serde_json = "1.0.105"
tokio = { version = "1.38.2", features = ["full"] }
praytimes = { path="../../lib/praytimes" ,features = ["serde"],version="1.0.0" }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"]}
tower-http = { version = "0.3.4", features = ["trace"] }
chrono = "0.4.26"

clap = { version = "4.3.22", features = ["derive","color"] }
log = "0.4.20"
env_logger = "0.10.0"
